* {
  margin: 0;
  padding: 0;
  background-color: rgb(158, 173, 182);
}
.sort {
  position: relative;
  width: 30vw;
  margin-left: 35vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.align-center {
  display: flex;
  justify-content: center;
}

.tablexx {
  background: rgb(192, 180, 180);
}
.table-head {
  background: rgb(100, 100, 98);
  font-style: italic;
  font-weight: bold;
  
}
.table-data {
  background: rgb(170, 170, 170);
  color: rgb(100, 100, 98);
}
.tabledata {
  margin: 10px;
}

.inpouttodo {
  border-radius: 5%;
  background-color: aliceblue;
  position: relative;
  width: 400px !important;
  height: 50px;
  margin: 10px;
}
.tbl {
  border-color: grey;
}
.todoItem {
  display: flex;
}
.add {
  margin: 10px;
  width: 100px;
  height: 50px;
}

#editinput {
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: blue;
  width: 400px;
  text-align: center;
  color: white;
  border: 0;
}
.vehicle-grid{
  display: flex ;
  justify-content: center;
 
}
.vehicle-display{
  background-color: azure;
  text-align: center;
  margin: 20px;
  height: 200px;
  width: 200px;
  color:blue;
  padding:20px;
}
.book-btn{
  position: relative;
  top: 30px;
}
.textheading{
  text-align: center;
  color: rgb(101, 101, 223);
}

.home{
background:rgb(150, 16, 240) !important;
position: fixed;
height :50px;
left:10px;
top:10px;
}
.rootx{
  display: flex;
  justify-content: center;
}

 .left{
  position: relative;
  margin-left: -90px;
}
.right{
  position: relative;
  margin-left: 70px;
}
.f{
  margin-left: -220px;
}
.g{margin-left: -120px;}
.j{
  margin-left: -120px;
}
.l{
  margin-left: 10px;
}
.k{margin-left: -20px;}

.h{
  margin-left: 10px;
 
}
.center{
  position: relative;
  margin-left: 40px;
}
.rooty{
position: relative;
  margin-left: 70px;
}
.nested{
  display: inline-flex;
  position: absolute;
  margin-top: 100px;
  margin-bottom: 0px;
  
}